################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/*
/FinalProject/ProjectApp/.vs/*
/FinalProject2/ProjectApp/bin/*
/FinalProject2/ProjectApp/obj/*
/FinalProject/ProjectApp/obj/Debug/net9.0/compressed
