@page
@model RecruitCatSeitzme.Pages_Companies.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Company</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyAddress" class="control-label"></label>
                <input asp-for="Company.CompanyAddress" class="form-control" />
                <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyPhone" class="control-label"></label>
                <input asp-for="Company.CompanyPhone" class="form-control" />
                <span asp-validation-for="Company.CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobId" class="control-label"></label>
                <input asp-for="Company.JobId" class="form-control" />
                <span asp-validation-for="Company.JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PositionName" class="control-label"></label>
                <input asp-for="Company.PositionName" class="form-control" />
                <span asp-validation-for="Company.PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobLocation" class="control-label"></label>
                <input asp-for="Company.JobLocation" class="form-control" />
                <span asp-validation-for="Company.JobLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobStartDate" class="control-label"></label>
                <input asp-for="Company.JobStartDate" class="form-control" />
                <span asp-validation-for="Company.JobStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.JobSalaryMax" class="control-label"></label>
                <input asp-for="Company.JobSalaryMax" class="form-control" />
                <span asp-validation-for="Company.JobSalaryMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.SalaryMin" class="control-label"></label>
                <input asp-for="Company.SalaryMin" class="form-control" />
                <span asp-validation-for="Company.SalaryMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IndustryID" class="control-label"></label>
                <select asp-for="Company.IndustryID" class ="form-control" asp-items="ViewBag.IndustryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
