@page
@model BankMe.Pages.BankAccounts.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create a new Bankme Account</h1>
        
    <h4>BankAccount</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.AccountHolderId" class="control-label"></label>
                <select asp-for="BankAccount.AccountHolderId" class ="form-control" asp-items="ViewBag.AccountHolderId"></select>
                <span asp-validation-for="BankAccount.AccountHolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.AccountNumber" class="control-label"></label>
                <input asp-for="BankAccount.AccountNumber" class="form-control" />
                <span asp-validation-for="BankAccount.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.RoutingNumber" class="control-label"></label>
                <input asp-for="BankAccount.RoutingNumber" class="form-control" />
                <span asp-validation-for="BankAccount.RoutingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.AccountName" class="control-label"></label>
                <input asp-for="BankAccount.AccountName" class="form-control" />
                <span asp-validation-for="BankAccount.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.AccountType" class="control-label"></label>
                <input asp-for="BankAccount.AccountType" class="form-control" />
                <span asp-validation-for="BankAccount.AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.Balance" class="control-label"></label>
                <input asp-for="BankAccount.Balance" class="form-control" />
                <span asp-validation-for="BankAccount.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.LastDepositDate" class="control-label"></label>
                <input asp-for="BankAccount.LastDepositDate" class="form-control" />
                <span asp-validation-for="BankAccount.LastDepositDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="BankAccount.CreatedDate" class="control-label"></label>
                <input asp-for="BankAccount.CreatedDate" class="form-control" />
                <span asp-validation-for="BankAccount.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
