@page
@model RecruitCatSeitzme.Pages.OurTeam
@{
    ViewData["Title"] = "Our Team";
}

<body>
    <h1>@ViewData["Title"]</h1>
    <p> The best team in the World</p>
    <p> We have a great team of people that make this business work. We are dedicated to finding the best talent for our
        clients.</p>


    <div class="container-fluid">
        <h1>The Leadership team</h1>
        <p>This is the group of people that really make the business run.</p>

        <div class="row">
            <div class="col-sm-3" style="background-color:lavenderblush;"><b>Donald Duck</b>
                <p>CEO </p>
                <img src="https://th.bing.com/th/id/R.151561e227bda6fc9bd4a47a7aeba171?rik=50QX7E%2bmwxizKA&riu=http%3a%2f%2fclipart-library.com%2fimage_gallery2%2fDonald-Duck.png&ehk=zpgpATQXijekY9lV1Bkal7Yfeq1kSTmc2WtwV7oV8Po%3d&risl=&pid=ImgRaw&r=0"
                    width="100%" />
                <p>Donald is known for his determination, bold decision-making, and a never-give-up attitude. He leads
                    with passion and a deep commitment to excellence.
                    Throughout his career, he's tackled challenges head-on—whether navigating turbulent markets or
                    rallying teams toward ambitious goals. </p>
            </div>
            <div class="col-sm-3" style="background-color:lavender;"><b>Mickey Mouse</b>
                <p>CFO and master of the money</p>
                <img src="https://purepng.com/public/uploads/large/purepng.com-mickey-mousemickey-mousemickeymouseanimal-cartooncharacterwalt-disneyub-iwerksstudioslarge-yellow-shoered-shortswhite-gloves-1701528648495s7kem.png"
                    width="100%" />
                <p>As Chief Financial Officer of RecruitCAT, Mickey brings over 50 years of strategic financial
                    leadership across diverse industries. His career has been defined by a commitment to financial
                    excellence, operational efficiency, and sustainable growth. With his signature optimism and sharp
                    attention to detail, He brings a unique blend of creativity and financial discipline to the
                    executive team</p>
            </div>
            <div class="col-sm-3" style="background-color:lavenderblush;"><b>Goofy</b>
                <p>Engineer of HR and employee satisfaction</p>
                <img src="https://pngimg.com/uploads/goofy/goofy_PNG25.png" width="100%" />
                <p>Goofy is the heart and soul of our HR department, bringing a unique blend of empathy, creativity, and
                    dedication to fostering a positive workplace culture. With a background in organizational psychology
                    and years of experience in talent management, Goofy has a knack for understanding employee needs and
                    driving initiatives that enhance job satisfaction and productivity.</p>
            </div>
            <div class="col-sm-3" style="background-color:lavender;"><b>Mike Seitz</b>
                <p> CTO</p>
                <img src="~/images/mike (2).jpg" width="100%" alt="Mike Pic" />

                <p> Mike has a long history of remaking IT to keep it relevent and focused on the business objectives.
                    He has a reputation of epathizing with the business leaders to help them meet their goals.</p>
            </div>
        </div>

</body>