@page
@model IndexModel
@{
    ViewData["Title"] = "BankMe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BankMe</h1>
    <p>Your number 1 online banking location tailored to you.</p>
</div>
