@page
@model IndexModel
@{
    ViewData["Title"] = "Project Tracker";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Project Managers Tracker</h1>
    <p>Keep track of your project activities here.... </p>
</div>
